<!DOCTYPE html>
{% load staticfiles %}
<html lang="en"></html>
<html>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <head>
  
        <title>
        AgileSPM - 
        {% block title_block %}
            
        {% endblock %}
        </title>
    <!-- Imported libraries/stylesheets -->

    {% block import_block %}
    <link href="{% static "css/base.css" %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% endblock %}
    </head>
    <body>  
    {% block header_block %} 
            <header class="navbar"> 
                 <div class="logo">
                  <a href="{% url 'index' %}"><img id="logo-btn" src="{% static "images/agilespmLogo.png" %}"></a></div> 
                    <div class="navbar"> 
                      {% if user.is_authenticated %}
                      <a href="{% url "logout" %}" id="user-logout">Logout</a>
                            <div class="dropdown">
                                <button class="dropbtn">New Project</button>
                                <div class="dropdown-content">
                                  <a href="{% url "scrum_form" %}" id="scrum-btn">Scrum doc</a>
                                  <a href="{% url "index" %}" id="kanban-btn">Kanban doc</a>
                                  <a href="{% url "index" %}" id="scrumban-btn">Scrumban doc</a>
                                </div>
                                <a href="{% url "my_docs" %}" id="user-docs">My Docs</a>
                                

                              </div> 
                      {% else %}
                            <a href="{% url "login" %}" id="user-login">Login</a>
                            <a href="{% url "register" %}" id="user-signup">Sign Up</a>
                            <a href="#" id="contact" >Contact</a> 
                      {% endif %} 
                         </div> 
                        </header>
                       
             {% endblock %}  
    <!-- Main body content responsiveness -->
    
  
    
        {% block body_block %}
        <div class="container-fluid page-content">
             <div class="row">
                <div class="contents">
            <!-- Page specific content goes here -->
        </div>
    </div>
  </div>
    {% endblock %}
 

{% block footer_block %} 
<!-- Footer -->
        <footer class="footer">
        <div class="contain">
                <div class="col">
                  <h1>AgileSPM</h1>
                  <ul>
                    <li class="home-btn" data-link="{% url "index" %}">Home</li>
                    <li class="docs-btn" data-link="{% url "my_docs" %}">My Docs</li>
                    <li class="contact-btn" data-link="{% url "index" %}">Contact</li>
                    <li class="home-btn" data-link="{% url "index" %}">Logout</li>
                  </ul>
                </div>
                <div class="col">
                  <h1>Documents</h1>
                  <ul>
                    <!-- <li class="scrum-btn" data-link="{% url "scrum_form" %}">Scrum</li> -->
                    <li class="kanban-btn" data-link="{% url "index" %}">Kanban</li>
                    <li class="scrumban-btn" data-link="{% url "index" %}">Scrumban</li>

                  </ul>
                </div>
              </div>  
            </div>
</footer>
{% endblock %}
<div>

  <!-- Modal block  -->
{% block modal_block %}
<!-- <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
  
  <button class="signup-btn btn btn-primary" type="button" name="button">Sign up</button>
   -->
{% endblock %}

{% block end_block %}
<!-- Jquery goes here -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script src="{% static "js/jquery.js" %}"></script>
{% endblock %}
</div>
    </body>
</html>