<!DOCTYPE html>
{% extends 'agileSPM/base.html' %}
{% load staticfiles %}

<html>
        {% block title_block %}
            My Documents
        {% endblock %}

{% block import_block %}
<link href="{% static "css/base.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/docs.css" %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

<body>
    <div>
{% block body_block %}
<div class="doc_page">
   
            {% for forms in user_scrum_forms %}
              
                <div class="card">
                <a href="{% url 'edit_scrum_form' forms.id %}"><i class="fas fa-file" id="file"></i></a>
                    <p id="text-btn"> {{ forms.title }}</p>
                    <button class="btn" id="duplicate-btn" href="{% url 'edit_scrum_form' forms.id %}"><i class="fas fa-copy"></i> Copy</button>
                    <button class="btn" id="edit-btn" href="{% url 'edit_scrum_form' forms.id %}"><i class="fas fa-edit"></i> Edit</button>
                    <button class="btn" id="delete-btn" href="{% url 'sow_form_delete' forms.id %}"><i class="fa fa-trash"></i> Delete</button>
                </div> 
            
            {% endfor %}
        </div>
 
{% endblock %}
    </div>

{% block end_block%}
<script src="{% static "js/sow.js" %}"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% endblock %}
</body>
</html>

