<!DOCTYPE html>
{% extends 'agileSPM/base.html' %}
{% load staticfiles %}

<html>
        {% block title_block %}
            Create Dynamic Statements of Work
        {% endblock %}

{% block import_block %}
<link href="{% static "css/base.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/docs.css" %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

<body>
    <div>
{% block body_block %}
<div class="doc_page">
    <div class="doc_content">
        <i class="fas fa-file" id="file"></i>
</div>
    </div>
{% endblock %}
    </div>

{% block end_block%}
<script src="{% static "js/sow.js" %}"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% endblock %}
</body>
</html>

