<!DOCTYPE html>
{% extends 'agileSPM/base_agileSPM.html' %}
{% load staticfiles %}

<html>
        {% block title_block %}
            Completed
        {% endblock %}

{% block import_block %}
<link href="{% static "css/base.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/done.css" %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

<body>
{% block body %}
<div class="done-content">
        <i class="fas fa-check-circle" id="check"></i>
    <div class="h1">Document successfully saved</div>
   <br/>
    <button type="button" class="btn" id="back-btn" data-link="{% url "scrum_form" id %}"><i class="fas fa-chevron-left"></i> Return</button>
    <button type="button" class="btn" id="download-btn" data-link="{% url "scrum_doc" id %}"><i class="fa fa-download"></i> Download</button>
    <button type="button" class="btn" id="save-btn" data-link="{% url "my_docs" %}"><i class="fa fa-trash"></i> My Docs</button>

                
                
    
        <center><h1>Your document has been successfully saved, 
            <br/> use the download button to download a word-version or return to your documents.
            
        </h1>
      <a href="{% url 'scrum_doc' id %}"><i class="fas fa-download" id="download"></i></a>
                    <p id="text-btn"> Download</p>    </center>  


</div>
{% endblock %}

{% block end_block%}
<script src="{% static "js/done.js" %}"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% endblock %}

</body>