<!DOCTYPE html>
{% load staticfiles %}
<html lang="en"></html>

<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        
    <head>
        <!-- Imported CSS stylesheets & JavaScript-->
        <title>agileSPM - Create Dynamic Agile Statements of Work </title>
        <link href="{% static "css/index.css" %}" rel="stylesheet" type="text/css" />
        <script src="{% static "js/index.js" %}"></script>
    </head>

    <body>
        <!-- Menu/Navigation bar-->
        <a href="/agileSPM/scrum_doc/">Download Scrum document</a>
        
        <div>
            {% if sow %}
            <ul>
                {% for docs in sow %}
                    <li>
                        <a href="/agileSPM/sow_scrum/{{ docs.slug }}">{{ docs.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                There are no documents present.
            {% endif%}
        </div>

        </body>
</html>