<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>agileSPM - Create Dynamic Agile Statements of Work </title>
        <link rel="stylesheet" href="{% static "css/base.css" %}"/>
        <script src="{% static "js/jquery.js" %}"></script>
    </head>
    <body>
        <h1>Index h1</h1>
        <div>
            First div <br/>
            {{ boldmessage }}<br/>
        </div>
        <div>
            link to scrum <a href='/agileSPM/sow_scrum'>Scrum</a><br/>
            <img src="{% static "images/static.jpg" %}" alt="Test"/>
        </div>
    </body>
</html>