
{% extends 'agileSPM/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Create Dynamic Statements of Work 
{% endblock %}

{% block import_block %}
    <link href="{% static "css/base.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/index.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body_block %}

    <div class="intro">
        <div class="container">
            <h1>Testing text here </h1>
        </div>
    </div>

{% endblock %}

{% block end_block %}
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}
