<!DOCTYPE html>
{% load staticfiles %}
<html lang="en"></html>

<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        
    <head>
        <!-- Imported CSS stylesheets & JavaScript-->
        <title> Agile Scrum Project </title>
        <link href="{% static "css/index.css" %}" rel="stylesheet" type="text/css" />
        <script src="{% static "js/index.js" %}"></script>
    </head>

    <body>
        <!-- Menu/Navigation bar-->
        

        <div>
            {% if slug_doc %}
                <h1>{{ slug_doc.title }}</h1>
                {% if specific_doc %}
                <ul>
                {% for docs in specific_doc %}
                        <li><a href="{{ docs.title }}">{{ docs.title }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                    There are no Scrum projects working.
                {% endif%}
            {% else %}
                Does not exist
            {% endif %}
        </div>

        </body>
</html>