<!DOCTYPE html>
{% extends 'agileSPM/base.html' %}
{% load staticfiles %}
{% load i18n %}
<html>
    {% block title_block %}
        Scrum Project
    {% endblock %}

    {% block import_block %}
    <link href="{% static "css/base.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/sow.css" %}" rel="stylesheet" type="text/css" />
    {% endblock %}

{% block body_block %}
<body>
<div class="sidebar">
        <a class="active" href="#cover">Cover Information</a>
        <a href="#introDoc">Introduction</a>
        <a href="#">Contact</a>
        <a href="#about">About</a>
        <a href="#introDoc">Introduction</a>
        <a href="#">Contact</a>
        <a href="#about">About</a>
      </div>

<div class="formBox">
<p> Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{wizard.form.media }}
    {{ wizard.management_form }} <!--Django formtools specific form attribute needed for the wizard to-->
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
            {{ form.as_p }}
        {% endfor %}
    {% else %}
        {{ wizard.form.as_p }}
    {% endif %}
    
    {% if wizard.steps.prev %}
    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first}}">{% trans "first step" %}</button>
    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev}}">{% trans "prev step" %}</button>
    {% endif %}
    <input type="submit" value="{% trans "submit" %}" />
</form>
</div>
</body>
{% endblock %}
</html>