<!DOCTYPE html>
{% extends 'agileSPM/base.html' %}
{% load staticfiles %}
{% load i18n %}
<html>
    {% block title_block %}
        Scrum Project
    {% endblock %}

    {% block import_block %}
    <link href="{% static "css/base.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/sow.css" %}" rel="stylesheet" type="text/css" />
    {% endblock %}

{% block body_block %}
<body>
<div class="sidebar">
        <a href="{{ wizard.steps.first}}" onclick="">Cover Information</a>
        <a href="{{ wizard.steps.second}}">Introduction</a>
        <a href="{{ wizard.steps.third}}">Ojectives</a>
        <a href="{{ wizard.steps.fourth}}">Scope</a>
        <a href="{{ wizard.steps.fifth}}">Tasks</a>
        <a href="{{ wizard.steps.sixth}}">Scrum delivery</a>
        <a href="{{ wizard.steps.seventh}">Timescales</a>
        <a href="{{ wizard.steps.eigth}}">Project Cost</a>
        <a href="{{ wizard.steps.ninth}}">Acceptance</a>
      </div>

<div class="formBox">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{wizard.form.media }}
    {{ wizard.management_form }} <!--Django formtools specific form attribute needed for the wizard to work-->
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
            {{ form.as_p }}
        {% endfor %}
    {% else %}
        {{ wizard.form.as_p }}
    {% endif %}
    <p> Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }} Completed</p>

    {% if wizard.steps.prev %}
    <!-- <button id="#backTop" type="submit" value="{{ wizard.steps.first}}">{% trans "first step" %}</button> -->
    <button id="#backPrev" type="submit" value="{{ wizard.steps.prev}}">{% trans "BACK" %}</button>
    <!-- <input type="submit" value="{{ wizard.steps.first}}">{% trans "first step" %} />
    <input type="submit" value="{{ wizard.steps.prev}}">{% trans "prev step" %} /> -->
    {% endif %}
    <input type="submit" value="{% trans "SAVE" %}" />
    <input type="submit" value="{% trans "NEXT" %}" />
</form>
</div>
</body>
{% endblock %}
</html>