{% extends 'agileSPM/base_agileSPM.html' %}
{% load staticfiles %}

<html>
        <head>
                {% block title_block %}
                <title>
                   AgileSPM - Scrumban document
                </title>
                {% endblock %}
        </head>
 
    {% block import_block %}
    <!-- specialised styleshets for base and statement of work documents -->
    <link href="{% static "css/basic.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/sow.css" %}" rel="stylesheet" type="text/css" />
    {% endblock %}



    {% block body %}
<div class="formBody">
<!-- sidebar redirecting to specific elements of the form -->
<div class="sidebar">
        <a href="#titleID_scrumban">Cover Information</a>
        <a href="#introID_scrumban">Introduction</a>
        <a href="#deliverablesID_scrumban">Ojectives</a>
        <a href="#scopeID_scrumban">Scope</a>
        <a href="#backlogID_scrumban">Tasks</a>
        <a href="#lengthID_scrumban">Scrumban delivery</a>
        <a href="#milestonesID_scrumban">Timescales</a>
        <a href="#invoiceID_scrumban">Project Cost</a>
        <a href="#nameoneID_scrumban">Acceptance</a>
        <a href="{% url 'my_docs' %}">Home</a>
      </div>

<div class="formBox">
<form id="SOWForm" method="POST" value="SAVE">
   
    {% csrf_token %}
   <!-- django form tag as paragraphs in the form window -->
    {{ form.as_p }}

    <input type="submit" value="SAVE" />

</form>
</div>
</div>

{% endblock %}
</html>