<!DOCTYPE html>
{% extends 'agileSPM/base_agileSPM.html' %}
{% load staticfiles %}

<html>
        <head>
                {% block title_block %}
                <title>
                   AgileSPM - Login
                </title>
                {% endblock %}
        </head>


{% block import_block %}
<link href="{% static "css/basic.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/login.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}

<body>
{% block body %}
<header>
    </header>
 
    <div class="content">       
<div class="intro">   
    <h1><span>AgileSPM</span></h1>
    <h2><span>Quick & Easy Statements of work.</span>
        <br/> </h2>
    </div>
    <button class="main-btn" type="button">Get started</button><br/>
    <div class="gallery">
            <a href="{% url "scrum_form" %}">
            <img src="{% static "images/scrum.png" %}">
            </a>
            <div class="desc">Scrum info here</div>
          </div>
          <div class="gallery">
                <a href="{% url "scrum_form" %}">
                <img src="{% static "images/kanban.png" %}">
                </a>
                <div class="desc">Kanban info here</div>
              </div>
              <div class="gallery">
                    <a href="{% url "scrum_form" %}">
                    <img src="{% static "images/scrumban.png" %}">
                    </a>
                    <div class="desc">Scrumban info here</div>
                  </div>
                </div>
<div class="divider">
</div>

<div class="modal">
    <div class="modal-content">
            <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Login</h2></div>

                <form method="POST">
                        {% csrf_token %}
                        <label> Username:</label>
                        <input type="text" name="username" placeholder="username"><br/>
                        <label> Password:</label>
                        <input type="password" name="password" placeholder="password"><br/>
                        <input type="submit" name="login-btn" value="Login"/>
                        <p>Don't have an account? <a href="{% url 'register' %} ">Sign up</a></p>
                        </form>

</div>
</div>


{% endblock %}

<div>
        {% block end_block %}
        <!--Jquery goes here -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
        <script src="{% static "js/jquery.js" %}"></script>
        {% endblock %}
        </div>
</body>
</html>
 
