
{% extends 'agileSPM/base_agileSPM.html' %}
{% load staticfiles %}

<html>
        <head>
                {% block title_block %}
                <title>
                   AgileSPM - Kanban document
                </title>
                {% endblock %}
        </head>
 
    {% block import_block %}
    <!-- base and statement of work specific css style sheet -->
    <link href="{% static "css/basic.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/sow.css" %}" rel="stylesheet" type="text/css" />
    {% endblock %}



    {% block body %}
<div class="formBody">

    <!-- side bar with specific kanban IDs to redirect on the same page -->
<div class="sidebar">
        <a href="#titleID_kanban">Cover Information</a>
        <a href="#introID_kanban">Introduction</a>
        <a href="#deliverablesID_kanban">Ojectives</a>
        <a href="#scopeID_kanban">Scope</a>
        <a href="#backlogID_kanban">Tasks</a>
        <a href="#lengthID_kanban">Kanban delivery</a>
        <a href="#planID">Timescales</a>
        <a href="#invoiceID_kanban">Project Cost</a>
        <a href="#nameoneID_kanban">Acceptance</a>
        <a href="{% url 'my_docs' %}">Home</a>
      </div>

<div class="formBox">
<form id="SOWForm" method="POST">
   
    {% csrf_token %}
   
    {{ form.as_p }}

    <input type="submit" value="SAVE" />

</form>
</div>
</div>

{% endblock %}
</html>