html,body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.navbar {
  overflow: hidden;
}

.navbar a {
  float: right;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 19px;
  padding: 20px 0px 5px 0px;
  letter-spacing: 0.250em;
  color: #f6f6f6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Statement of work specific  */
.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  font-weight: normal;
  text-transform: uppercase;
  line-height: 19px;
  padding: 20px 0px 5px 0px;
  letter-spacing: 0.250em;
  border: none;
  outline: none;
  color: #f6f6f6;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: #082eac;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0030cc;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(179, 62, 62, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f6f6f6;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Navigation bar mobile screen  */
@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    display: block;
  }
}
@media screen and (max-width: 600px){
  .dropdown {
    float: center;
    /* align-items: center; */
    display: block;
  }
}

/* FOOTER */


.dummy_page {
  height: 200px;
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  box-sizing: border-box;
  padding: 60px 0px;
}
/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #0030cc;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  color: #f6f6f6;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #ffffff;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.footer .col ul li:hover {
  color: #b8b7c4;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}

@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 600px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
}