.doc_page {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    list-style-type: none;
    padding: 80px 50px 50px 50px;
    /* align-content: flex-start;
    display: flex;
    justify-content: space-around; */

}
#title_doc {

    font-size: 18px;
    font-weight: bold;
    margin: 20px,20px,20px,20px;
}
.hr {
    width: 200px;
    text-align: center;
    color: black;
}
.card {
    width: 250px;
    height: 250px;
    padding: 20px;
    background-color: #ebe8e8;
    border: 1px;
    display: inline-block;
    margin: 20px 20px 20px 20px;
    text-align: center;
    /* align-content: flex-start;
    display: flex;
    justify-content: space-around; */
}


.doc_content {
    width: 100px;
    height: 200px;
    margin: auto;
    color: #fafafa;

}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    height: 40px;
    width: 100px;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 2px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }

#file {
    font-size: 100px;
    color: #f45386;
    align-items: center;

}
#addDoc {
    font-size: 100px;
    color: #f45386;
    float: center;

}
.doc {
    width: 100px;
    height: 200px;
    padding: 20px;
    border: 1px;
    display: inline-block;
    margin: 20px, 20px, 20px, 20px;
    text-align: center;
    
}

p#text-button {
    font-size: 18px;
    color: black;
 
  }

#text-para {
    font-size: 18px;
    color: black;
    float: center;
}