/* success content document */
.success-content{
    text-align: center;
    height: 600px;
    width: 100%;
    background-color: #fafafa;
    padding: 100px 30px 30px 30px;
}

.buttons-done {
    text-align: center;
    height: 500px;
    width: 500px;
    color: black;
    border: 1px;
}

#check {
    font-size: 150px;
    color:  #1e90ff;
    float: center;
  
}
