/* 
.container {
  position: relative;
  margin: 20px;
  width: auto;
}
.navbar {
  overflow: hidden;
}

.navbar a {
  float: right;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 19px;
  padding: 20px 0px 5px 0px;
  letter-spacing: 0.250em;
  color: #f6f6f6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Statement of work specific  */
/* .dropdown {
  float: right;
  overflow: hidden;
} */

/* .dropdown .dropbtn {
  font-size: 16px;  
  font-weight: normal;
  text-transform: uppercase;
  line-height: 19px;
  padding: 20px 0px 5px 0px;
  letter-spacing: 0.250em;
  border: none;
  outline: none;
  color: #f6f6f6;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
} */
/* 
.navbar a:hover, .dropdown:hover .dropbtn {
  color: #082eac;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0030cc;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(179, 62, 62, 0.2);
  z-index: 1;
} */

/* .dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f6f6f6;
}

.dropdown:hover .dropdown-content {
  display: block;
} */

/* Navigation bar mobile screen  */
/* @media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    display: block;
  }
}
@media screen and (max-width: 600px){
  .dropdown {
    float: center;
    /* align-items: center; */
    /* display: block;
  }
}  */ 

/* HOME/ INDEX */

.blockIntro {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-flow: row wrap;
  height: 75%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: 
       url(/static/images/intro.jpg) center center fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  /* Image by rawpixel at Pixabay */
}

.blockIntro h1 { 
  position: absolute; 
  top: 280px; 
  left: 0; 
  width: 100%; 
}
.blockIntro h1 span { 
  color: white; 
  font: bold 60px/70px Helvetica, Sans-Serif; 
  letter-spacing: 10px;  
  background: rgba(0, 0, 0, 0.7);
  padding: 20px; 
  text-transform: uppercase;
}

.blockIntro h2 { 
  position: absolute; 
  top: 370px; 
  left: 0; 
  width: 100%; 
}
.blockIntro h2 span { 
  color: white; 
  font: bold 24px/50px Helvetica, Sans-Serif; 
  letter-spacing: 10px;  
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 
}
#indexBtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.blockIntro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.blockIntro .btn:hover {
  background-color: black;
}
.blockIntro input[type=submit] {
  background-color: #f45386;
  color: white;
  text-align: center;
  float: center;
  font-size: 18px;
  padding: 20px 50px;
  border-radius: 4px;
  cursor: pointer;
}  
/* Submit button hover*/
input[type=submit]:hover {
  background-color: #d13365;
}
.button1 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

/* SECOND BLOCK  */
.item{
  width:100px;
  height: 100px;
  text-align:center;
  display:block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 1px;
  float:center;
}
.item .img {
  width: 100px;
  height: 100px;
  text-align:center;
}

#index-sow{
  width:700px;
}

@media screen and (max-width: 600px) {
  .index-sow {
    width: 100%;
  }
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  background: #0030cc;
  height: 400px;
  width: 100%;
  
}
.flex-item {
  height:400px;
  width:50%;
  background: #fafafa;
}
.flex-img {
  height: 100px;
  width: 100px;
  position: absolute;
  float: right;
}


.blockTwo {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-flow: row wrap;
  height: 75%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: 
       url(/static/images/block_home.jpg) center center fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  /* Image by rawpixel at Pixabay */
}
/* Image by Engin Akyurt at Pixabay  */

.blockLayer {
  background-color: #fafafa;
  height: 500px;
  width: 100%;
}

.blockLayer #one {
  height: 100px;
  width: 100%;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: center;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.text-box{
  width: 500px;
  height: 500px;
  color: #ffffff;
  position: absolute;
}