
.intro{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-flow: row wrap;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: url(/static/images/intro.jpg);
  background-size: cover;
/* Image by rawpixel at Pixabay */
}

div.container{
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  -webkit-appearance: none;
  background: rgb(242,242,242);
  max-width: 400px;
  max-height: 250px;
  width: 100%;
  height: 100%;
  margin: 50px;
  position: flex-start;
}

div.container h1{
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin: 5px;
  padding: 10px 10px 10px 10px;
  color: #a81d73;
  text-align: left;
}


/* Image by Engin Akyurt at Pixabay  */