
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: absolute;
    height: 680px;
    overflow: auto;
    height: 100%;

  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
/*    
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  } */
  
  .sidebar a:hover:not(.active) {
    background-color: #f45386;
    color: white;
  }
  
  div.formBox {
    margin-left: 200px;
    padding: 30px 50px;
    height: auto;
    background-color: #fafafa;
  }
  /* div.background {
    height: 100%;
    width: 100%;
    background-color: #fafafa;
  } */

  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: sticky;
    }
    .sidebar a {float: left;}
    div.formBox {margin-left: 0;}
  }
  
  @media screen and (max-width: 600px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  /* Form specific CSS */
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: none;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }
  
  /* Submit button */
  input[type=submit] {
    background-color: #f45386;
    color: white;
    font-size: 18px;
    padding: 20px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }  
  /* Submit button hover*/
  input[type=submit]:hover {
    background-color: #d13365;
  }
  #backTop {
    background-color: #f45386;
    color: white;
    font-size: 18px;
    padding: 20px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  #backPrev {
    background-color: #f45386;
    color: white;
    font-size: 18px;
    padding: 20px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .errorlist {
        color: red;
    }
